{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% oro_title_set({params : {"%entity.summary%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('luminaire_issue_update', { id: entity.id }),
            'entity_label': 'luminaire.issue.entity_label'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('luminaire_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('luminaire_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-issue',
            'dataId': entity.id,
            'entity_label': 'luminaire.issue.entity_label'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('luminaire_issue_index'),
    'indexLabel': 'luminaire.issue.entity_plural_label'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('luminaire.issue.code.label'|trans, entity.code) }}
                    {{ UI.renderProperty('luminaire.issue.summary.label'|trans, entity.summary) }}
                    {{ UI.renderProperty('luminaire.issue.description.label'|trans, entity.description) }}
                    {{ UI.renderProperty('luminaire.issue.type.label'|trans, entity.type) }}
                    {{ UI.renderProperty('luminaire.issue.priority.label'|trans, entity.priority) }}
                    {{ UI.renderProperty('luminaire.issue.status.label'|trans, entity.status) }}
                    {{ UI.renderProperty('luminaire.issue.resolution.label'|trans, entity.resolution) }}
                    {{ UI.renderProperty('luminaire.issue.reporter.label'|trans, entity.reporter) }}
                    {{ UI.renderProperty('luminaire.issue.assignee.label'|trans, entity.assignee) }}
                    {{ UI.renderProperty('luminaire.issue.created_at.label'|trans, entity.createdAt|date) }}
                    {{ UI.renderProperty('luminaire.issue.updated_at.label'|trans, entity.updatedAt|date) }}
                    {% if resource_granted('oro_tag_view') %}
                        {{ UI.renderHtmlProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endset %}
    {% set dataBlocks = [{
        'title': 'luminaire.issue.block.general'|trans,
        'class': 'active',
        'subblocks': [
            { 'data' : [data] }
        ]
    }] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
